<!DOCTYPE html>
<html>
<head>
    <title>Conflict in Africa</title>
    <!-- Map Box -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
    <!--MODIFIED THE HREF FOR THE CSS FILE-->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <!-- D3.js -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Plotly  -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!--  -->
    <link href='../static/css/style.css' rel='stylesheet' />

</head>
<body>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-2'>
                <h1>please show up!</h1>
            </div>
            
            <div class='col-10 container-fluid' id='choropleth' style="height:600px">
            </div>
            </div>
            <div class='row'>
                <div class='col-12' id='animated_map' style='height:600px'>
                </div>
            </div>
        </div>
        <!-- <div id='choropleth'></div> -->
    <script src="../static/js/app_CK.js"></script>
    <script src="../static/js/AnimatedMap.js"></script>
    <script src="../static/js/choropleth.js"></script>
</body>
</html>